.pr-flex-container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.pr-text {
  width: 30%;
  margin: 2rem;
}

.pr-title {
  color: var(--dark-green);
}

.pr-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  gap: 1rem;
}

.pr-image-grid img {
  height: 35rem;
  width: 100%;
}

.button-container {
  margin-top: 8rem;
}

.button {
  color: white;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
