.pr-flex-container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.pr-text {
  width: 30%;
  margin: 2rem;
}

.pr-text button {
  margin-top: 8rem;
}

.pr-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 12rem);
  gap: 2rem;
}

.pr-box {
  background-color: var(--dark-grey);
  height: 30rem;
  width: 100%;
}
