.cc-container {
  margin-top: 6rem;
  padding: 4rem 0;
}

.cc-container,
.cc-container * {
  background-color: var(--light-grey);
  color: (black);
}

.cc-container input,
.cc-container textarea {
  background-color: white;
  color: black;
  display: block;
  padding: 0.325rem;
  width: 100%;
}

.cc-container input {
  border: 1px solid var(--dark-blue);
  border-radius: 3px;
}

.cc-container input:focus,
.cc-container textarea:focus {
  outline: none;
}

.cc-container textarea {
  border: none;
  resize: none;
  height: 250px;
  box-sizing: border-box;
}

.cc-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.cc-form {
  width: 30%;
}

.cc-input-group {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.cc-label {
  margin: auto;
  width: 25%;
  font-size: 1.25rem;
}

.cc-textarea-container {
  margin-top: 0.5rem;
  border: 1px solid var(--dark-blue);
  border-radius: 3px;
}

.cc-textarea-container * {
  background-color: white;
}

.cc-textarea-container > div {
  padding: 1rem 0;
  text-align: center;
}

.cc-button {
  background-color: var(--purple);
  color: white;
  font-size: 1.15rem;
  padding: 1rem 1.5rem;
}

.cc-contact-details {
  width: 25%;
  font-size: 1.15rem;
}

.cc-title {
  color: var(--purple);
}

.cc-contact-details p {
  margin: 2rem 0;
}

.cc-contact-social-media img {
  width: 48px;
  border-radius: 15px;
  margin: 4rem 2rem 0 0;
  cursor: pointer;
  transition: filter 0.2s;
}

.cc-contact-social-media img:hover {
  filter: brightness(0.8);
}
