.foot-bar-container * {
  background-color: var(--green);
}

.foot-bar-container {
  background-color: var(--green);
}

.foot-logo {
  text-align: center;
}

.foot-logo > img {
  width: 4rem;
  height: 4rem;
}
