.nav-bar-container {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50%;
}

.logo > img {
  width: 5rem;
  height: 5rem;
}

.nav-options-container {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 50%;
}

li {
  padding: 0 4rem;
  font-size: 1.25rem;
  list-style-type: none;
}

li > a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}
