.nav-bar-container * {
  background-color: var(--purple);
}

.nav-bar-container {
  background-color: var(--purple);
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50%;
}

.logo > img {
  width: 5rem;
  height: 5rem;
}

.nav-options-container {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 50%;
}

.nav-options-container li {
  padding: 0 4rem;
  font-size: 1.25rem;
  list-style-type: none;
}

.nav-options-container li > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-options-container li > a:hover {
  text-decoration: underline;
}
